<p>reportsumpermonth works!</p>
<div class="mt-3 card">
    <div class="card-header">สรุปยอดรายเดือด</div>
    <div class="card-body">
         <div class="row">
            <div class="col-md-3">
                <select class="form-control" [(ngModel)]="year">
                    @for (year of ddyear; track $index) {
                        <option [value]="year">{{year}}</option>
                    }
                </select>
            </div>
          
            <div class="col-md-3">
                <button class="btn btn-primary" (click)="fetchdata()"><i class="fa fa-search"></i>ค้นหา</button>
            </div>
        </div> 
         <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>จำนวนรวม</th>
                    <th class="text-right" wtdth="100">จำนวนรวม</th>
                </tr>
            </thead>
            <tbody>
                @for (item of data; track $index) {
                    <tr>
                        <td>{{ item.month }}</td>
                        <td class="text-right"> {{ item.amount.toLocaleString('th-TH')}}</td>
                    </tr>
                }
            </tbody>
        </table> 
    </div>
</div>