<div class="card mt-3">
    <div class="card-header">ขายอาหาร/เครื่องดื่ม</div>
    <div class="card-body">
        <button class="btn btn-primary me-2"><i class="fa fa-home me-2">อาหาร</i></button>
        <button class="btn btn-primary me-2"><i class="fa fa-calendar me-2">เครื่องดื่ม</i></button>
        <button class="btn btn-primary me-2"><i class="fa fa-check me-2">ทั้งหมด</i></button>
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                
            </div>
        </div>
    </div>
</div>