<div class="input-group mt-3">
    <span class="input-group-text bg-dark text-white">โต๊ะ</span>
    <input class="form-control" style="width: 100px;" [(ngModel)]="tableno" />
</div>

<div class="card mt-3">
    <div class="card-header">ขายอาหาร/เครื่องดื่ม</div>
    <div class="card-body">
        <button class="btn btn-primary mr-2" (click)="filter('food')"><i class="fa fa-home ">อาหาร</i></button>
        <button class="btn btn-primary mr-2" (click)="filter('drink')"><i
                class="fa fa-calendar ">เครื่องดื่ม</i></button>
        <button class="btn btn-primary mr-2" (click)="fetchData()"><i class="fa fa-check ">ทั้งหมด</i></button>
        <button class="btn btn-danger mr-2" (click)="clearallrow()"><i class="fa fa-check ">ลบรายการทั้งหมด</i></button>
        @if (amount > 0) {
            <button class="btn btn-outline-success me-2" (click)="printbtllbeforepay()" data-bs-toggle="modal" data-bs-target="#modalbillforpay"><i class="fa fa-priunt ">พิมพ์ใบแจ้งยอด</i></button>
            <!-- <button class="btn btn-outline-success me-2" (click)="printbillafterpay()" ><i class="fa fa-priunt ">test</i></button> -->

        }

        <div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <div class="row mt-3">
                        @for(item of foods;track $index)
                        {
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="card">
                                @if(item.img){
                                    <img src="{{apiPath}}/uploads/{{item.img}}" class="card-image" height="100px"
                                    (click)="savetosaletemp(item)">
                                }@else{
                                    <img src="{{apiPath}}/uploads/1741157263791.jpg" class="card-image" height="100px"
                                    (click)="savetosaletemp(item)">
                                }
                              
                                <div class="card-body">
                                    <div class="h5">{{item.name}}</div>
                                    <div class="text-success h5 text-center">{{item.price}}</div>
                                </div>
                            </div>
                        </div>
                        }

                    </div>
                </div>
                <div class="col-3">
                    <div class="alert bg-dark text-white text-end h3">{{amount.toLocaleString('th-TH')}}</div>
                    @if (amount > 0) {
                        <button class="btn btn-block btn-lg btn-success mb-2" data-bs-toggle="modal" data-bs-target="#modalEndSale"><i class="fa fa-check me-2"></i>จบการขาย</button>
                    } 
                    <!--  <div>รายการที่เลือก</div> -->
                    @for(item of saletemps; track $index){
                    <div class="card">
                        <div class="card-body">
                            <div>{{item.name}}</div>
                            <div>{{item.price}} x {{item.qty}} = {{ item.price * item.qty}} </div>
                      <!--       <div>{{item.foodtypeid}}</div> -->
                            <div class="mt-2">
                                <div class="input-group">
                                    <button class="btn btn-primary" [disabled]="item.disabledQtyButton" (click)="changeqty(item.id,'down')"><i
                                            class="fa fa-minus"></i></button>
                                    <input class="form-control text-center disabled" disabled [value]="item.qty" />
                                    <button class="btn btn-primary" [disabled]="item.disabledQtyButton" (click)="changeqty(item.id,'up')"><i
                                            class="fa fa-plus"></i></button>

                                </div>

                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row g-1">
                                <div class="col-6">
                                    <button class="btn btn-danger btn-block" (click)="removeitem(item)">
                                        <i class="fa fa-times"></i>ลบออก
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-success btn-block"
                                        (click)="choosefoodsize(item)" data-bs-toggle="modal" data-bs-target="#modalFoodSize"><i
                                            class="fa fa-cog me-1"></i>กำหนด</button>
                                </div>
                            </div>
                            <div class="row">
                               <!--  <div class="col-4">
                                    <button class="btn btn-danger btn-block" (click)="removeitem(item)">
                                        <i class="fa fa-times"></i></button>

                                </div> -->
                               <!--  <div class="col-4">
                                    <button class="btn btn-success btn-block"
                                        (click)="choosefoodsize(item)" data-bs-toggle="modal" data-bs-target="#modalFoodSize"><i
                                            class="fa fa-list"></i></button>
                                </div> -->
                                <!-- <div class="col-4">
                                    <button class="btn btn-info btn-block"><i class="fa fa-list-alt"></i></button>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>


    </div>
</div>

<app-mymodal modalId="modalFoodSize" title="เลือกขนาด" modalSize="modal-xl" >
    <div class="h4">
        <button class="btn btn-primary me-2" ><i class="fa fa-plus me-2">เพิ่มจำนวน</i></button> {{foodname}}
    </div>
    <table class="mt-3 table table-bordered table-striped">
        <thead>
            <tr>
                <th width="50px"></th>
                <th>ลำดับ</th>
                <th>รายการ</th>
                <th width="100px" class="text-center">รสชาติ</th>
                <th width="250px" class="text-center">เลือกขนาด</th>
            </tr>
        </thead>
        <tbody>
            @for (item of saletempdetail; track $index) {
                <tr>
                    <td class="text-center">
                        <button class="btn btn-danger" (click)="removesaletempdetail(item.id)" ><i class="fa fa-times"></i></button>
                    </td>
                    <td>{{$index + 1}}</td>
                    <td>{{item.food_name}}</td>
                    <td class="text-end">
                        @for (taste of tastes; track $index) {
                            @if(taste.id === item.tasteid ){
                                <button class=" btn btn-success me-2">  {{ taste.name }}</button>
                            }
                            @else {
                                <button class="btn btn-outline-success me-2" (click)="selectedtaste(item.id , taste.id)"> 
                                    {{ taste.name }}
        
                                </button>
                            }
                        
                    
                    }</td>
                    <td class="text-center">
                        @for (foodsize of foodsizes; track $index) {
                           
                                @if (foodsize.moneyadded > 0){
                                    @if(foodsize.moneyadded != item.addedmoney){
                                        <button class="btn btn-outline-primary btn-sm me-2" (click)="selectedfoodsize(foodsize.id,item.id)">
                                            {{foodsize.name}} + {{foodsize.moneyadded}} บาท
                                        </button>
                                    }@else{
                                        <button class="btn btn-primary btn-sm me-1" >
                                            {{foodsize.name}} + {{foodsize.moneyadded}} บาท
                                        </button>
                                    }
                                   <!--  + {{foodsize.moneyadded}} บาท -->
                                }
                         
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    

</app-mymodal>

<app-mymodal modalId="modalEndSale" title="จบการขาย">
    <div>การรับเงิน</div>
    <div class="row">
        <div class="col-6">
            <button [className]="getclassname('cash')" (click)="selectedpaytype('cash')">เงินสด</button>
        </div>
        <div class="col-6">
            <button [className]="getclassname('transfer')" (click)="selectedpaytype('transfer')">โอน</button>

        </div> 
    </div>
    <div class="mt-3">ยอดเงิน</div>
    <input class="form-control form-control-lg" disabled [value]="amount">

    <div type="mt-3">รับเงิน</div>
    <div class="mt-3">
        <div class="row">
            <div class="col-3"> 
                <button [className]="getclassnameofbutton(50)" (click)="chengeinputmoney(50)">
                    50
                </button>
            </div>
            <div class="col-3">
                <button [className]="getclassnameofbutton(100)" (click)="chengeinputmoney(100)">
                    100
                </button>
            </div>
            <div class="col-3">
                <button [className]="getclassnameofbutton(500)" (click)="chengeinputmoney(500)">
                    500
                </button>
            </div>
            <div class="col-3">
                <button [className]="getclassnameofbutton(1000)" (click)="chengeinputmoney(1000)">
                    1000
                </button>
            </div>
        </div>
    </div>
    <input class="mt-3 form-control form-control-lg border-secondary text-end" [(ngModel)]="inputmoney" (keyup)="chengeinputmoney(inputmoney)" type="number"/>    

    <div class="mt-3">เงินทอน</div>
    <input class="form-control form-control-lg " disabled [value]="returnmoney.toLocaleString('th-TH')">

    <div class="mt-3">
        <div class="row g-1">
            <div class="col-6">
                <button class="btn btn-primary btn-lg btn-block" (click)="chengeinputmoney(amount)">
                    จ่ายพอดี
                </button>

            </div>
            <div class="col-6">
                <button class="btn btn-success btn-lg btn-block" (click)="endsale()" [disabled]="inputmoney < amount">
                    จบการขาย
                </button>

            </div>
        </div>
    </div>
</app-mymodal>
<button style="display: none;" id="btnprintbill" data-bs-toggle="modal" data-bs-target="#modalbillforpay"></button>
<app-mymodal modalId="modalbillforpay" title="ใบแจ้งรายการ">
    <iframe src="" id="pdf-frame" style="height: 300px; width: 100%; transform: 3; transform-origin: 0.0; " frameborder="0"></iframe>
</app-mymodal>