<div class="mt-3 card">
    <div class="card-header">รายงานบิลขาย</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-text">จากวันที่</span>
                    <input type="date" class="form-control" [ngModel]="startdate">
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group">
                    <span class="input-group-text">ถึงวันที่</span>
                    <input type="date" class="form-control" [ngModel]="enddate">
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" (click)="fetchdata()">
                    <i class="fas fa-search me-1"></i>
                    แสดงรายการ
                </button>
            </div>
        </div>
        <table class="table table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th class="text-center" width="150px">วันที่</th>
                    <th width="100px">รหัสบิล</th>
                    <th  width="200px">พนักงานขาย</th>
                    <th class="text-center" width="150px">โต๊ะ</th>
                    <th width="100px">การจ่าย</th>
                    <th class="text-center" width="150px">ราคาทั้งหมด</th>
                    <th width="110px"></th>


                </tr>
            </thead>
            <tbody>
                @for (billSale of billsales; track billSale.id) {
                    <tr>
                        <td class="text-center">{{ dayjs(billSale.createdate).format('DD/MM/YYYY HH:mm:ss') }}</td>
                        <td>{{billSale.id}}</td>
                      <!--   <td>{{billSale.user.name}}</td> -->
                        <td class="text-center">{{billSale.tableno}}</td>
                        <td>{{billSale.paytype}}</td>
                        <td class="text-center">{{billSale.amount}}</td>
                        <td></td>
                        <td class="text-center">
                            <button class="btn btn-danger" (click)="remove(billSale.id)">
                                <i class="fa fa-times me-1"></i>
                                ยกเลิก
                            </button>
                        </td>
                    </tr>
                    
                }
               
            </tbody>
        </table>
    </div>
</div>